* {
    padding: 0;
    margin: 0;
}

body {
    width: 1440px;
    height: 4431px;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
} 


nav {
    display: flex;
    background-color: yellowgreen;
    justify-content: space-around;
    /* padding: 25px 0; */
    color: hsla(0, 0%, 0%, 1);
    height: 60px;
    align-items: center;
}   

nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

nav ul li a:hover {
    color: aliceblue;
}


.logos {
    width: 100px;
    height: 34px;
    top: 24px;
    left: 16px;
    gap: 0px;
    opacity: 0px;
    background-color: hsla(229, 85%, 35%, 1);
}

/* Hamburger menu  */

.menu-toggle {
    display: none;
    flex-direction: column;
    width: 24px;
    height: 24px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 26px;
    height: 26px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: hsla(0, 0%, 13%, 1);
    border-radius: 2px;
    align-items: center;
    transition: all 0.4s;
}

/* Hamburger Menu Animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    /* background-color: #FFFFFF; */
    transform: rotate(45deg) translate(1px, 0px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    /* background-color: #FFFFFF; */
    transform: rotate(-45deg) translate(1px, 0px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0)
}

/* Responsive Breakpoint */

@media screen and (max-width: 360px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: relative;
        right: 0;
        top: 0;
        width: 180px;
        height: 640px;
        flex-direction: column;
        align-items: center;
        background-color: yellow;
        /* justify-content: space-evenly; */
        /* z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0; */
    }

    /* nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    } */
}